@tailwind base;
@tailwind components;
@tailwind utilities;

.mask-fade-bottom {
    mask-image: linear-gradient(to top, transparent, black 15%);
    -webkit-mask-image: linear-gradient(to top, transparent, black 15%);
}
.mask-fade-left {
    mask-image: linear-gradient(to right, transparent, black 15%);
    -webkit-mask-image: linear-gradient(to right, transparent, black 15%);
}